<div class="container-fluid">
    <div class="row pt-3 mt-3">

      <!--KOLONA ZA PRIKAZ AGENTOVIH SMJESTAJA-->
      <div class="col-3">
          <div class="list-group border rounded w-100" style="max-height: 320px; overflow-y:  scroll;">
              <div class="list-group-item" style="display: block">
                <div class="row">
                  <div class="col-7 pt-2">
                    <p class="font-italic">Smjestaj</p>
                  </div>
                  <div class="col-5">
                    <button class="btn btn-link">Show</button>
                  </div>
                </div>
              </div>
          </div>
      </div>

      <div class="col-9">
        <app-add-accomodation></app-add-accomodation>
      </div>

    </div>
</div>