<div class="container-fluid">
<form class="form w-100 pr-4">
    <div class="row">
      <h5 class="pl-3">Add new accomodation unit:</h5>
    </div>
    <div class="row">
      <div class="col-4 form-group">
        <input type="text" class="form-control my-input" id="name" placeholder="Name" [(ngModel)]="newUnit.name" [ngModelOptions]="{standalone: true}" >

        <select class="form-control my-input mt-3" id="category" placeholder="Category" [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}">
          <option value="-1" disabled selected>Category</option>
          <option value="0">Not categorised</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select> 

        <select class="form-control my-input mt-3" id="type" placeholder="Type" [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let type of accTypes" [ngValue]="type" [disabled] = "type.disabled">{{type.name}}</option>
        </select>

        <input type="number" class="form-control my-input mt-3" id="capacity" placeholder="Capacity" [(ngModel)]="newUnit.capacity" [ngModelOptions]="{standalone: true}">

        <input type="number" class="form-control my-input mt-3" id="cancelingPeriod" placeholder="Canceling period(days)" [(ngModel)]="newUnit.cancelingPeriod" [ngModelOptions]="{standalone: true}">
      
        <textarea class="form-control my-input mt-3" rows="3" placeholder="Description" [(ngModel)]="newUnit.description" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <div class="col-8 form-group">
        <div id="map" class="map"></div>
        <input type="text" class="form-control my-input mt-3" id="location" placeholder="Location" [value]="newUnit.location.displayName" disabled>
      </div>
    </div>
    <div class="row">
      <div class="col-4 form-group">
          <div class="list-group border rounded w-100" style="max-height: 191px; overflow-y:  scroll;">
      
            <div *ngFor = "let service of accServices" class="list-group-item" style="display: block">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [(ngModel)] = "service.isChecked" [ngModelOptions]="{standalone: true}">
                  <label class="form-check-label">{{service.name}}</label>
                </div>
              </div>
          </div>
        </div>

        <div class="col-8 form-group">
          <div class="row px-3">
           <div class="input-group mb-3">
              <div class="custom-file px-2">
                <input type="file" class="custom-file-input" accept="image/gif, image/jpeg, image/png" (change)="onFilesSelected($event)" multiple>
                <label class="custom-file-label" id="selectImages" for="inputGroupFile02">{{selectImagesMessage}}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <p class="col-10 text-danger">{{errorMessage}}</p>
            <div class="col-2">
              <button class="btn btn-primary float-right" (click)="addUnitClick()">Add unit</button>
            </div>
          </div>
        </div>
        
    </div>
  </form>
  <!--<img [src]="imgSrc">
  <button (click) = "showPic()">Show pic</button>-->
</div>