<div class="container-fluid">
<form class="form w-100 pr-4">
    <div class="row">
      <div class="col-4 form-group">
        <input type="text" class="form-control my-input" placeholder="Name">

        <select class="form-control my-input mt-3" placeholder="Category">
          <option value="" disabled selected>Category</option>
          <option>1</option>
          <option>2</option>
        </select>

        <select class="form-control my-input mt-3" placeholder="Type">
            <option value="" disabled selected>Accomodation type</option>
            <option>Apartment</option>
            <option>Hostel</option>
        </select>

        <input type="number" class="form-control my-input mt-3" placeholder="Capacity">

        <textarea class="form-control my-input mt-3" rows="3" placeholder="Description"></textarea>
      </div>
      <div class="col-8 form-group">
        <div id="map" class="map"></div>
        <input type="text" class="form-control my-input mt-3" placeholder="Location">
      </div>
    </div>
    <div class="row">
        <div class="col form-group">
          <input type="text" class="form-control my-input" placeholder="Username">
        </div>
        <div class="col form-group">
          <input type="password" class="form-control my-input" placeholder="Password">
        </div>
    </div>
  </form>
</div>