

<div class="row w-100">
  <!--Kolona za prikaz slika-->
  <div class="col-6">
      <carousel >
          <slide *ngFor="let image of accUnit.images">
            <img [src]="'data:image/jpg;base64,'+image" style="display: block; width: 100%;max-height: 215px;">
          </slide>
      </carousel>
  </div>

<!--Kolona za prikaz infomacija-->
  <div class="col-6 h-100 pb-1">
    <h5>{{accUnit.name}}</h5><br>
    <div class="row h-100">
      <div class="col-8 h-100 pt-1">
        <p><i>Description: </i>{{accUnit.description}}</p><br>
        <p><i>Average rating: </i>{{accUnit.rating}}/5</p>
      </div>
      <div class="col-4 pt-6 h-100">
        <p><i>Category: </i>{{accUnit.category}}</p><br>
        <p><i>Price: </i>{{accUnit.price}}$</p>
        <div class="d-flex flex-row-reverse">
          <div *ngIf="userLogged"><button class="btn btn-secondary" (click)="reserveClick(template)" *ngIf="!hideReservationButton">Reserve</button></div>
          <button class="btn btn-secondary mr-2" (click)="showRecensions(template2)">Show recensions</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Reservation info</h4>
    </div>
    <div class="modal-body">
          <div class="row">
              <div class="col-10">
                <p>{{reservationMessage}}</p>
              </div>
              <div class="col-2 d-flex flex-row-reverse">
                  <button class="btn btn-secondary pull-right mt-3" (click)="okClick()">Ok</button>
                </div>
          </div>   
        </div>
  </ng-template>

  <ng-template #template2>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Recensions: </h4>
      </div>
      <div class="modal-body">
          <div class="list-group">
            <div class="list-group-item" *ngFor="let rec of recensions" style="max-height: 500px; overflow-y:  scroll;">
               <div class="row">
                  <div class="col-8"><p class="small">By {{rec.username}}</p></div>
                  <div class="col-4 d-flex flex-row-reverse"><fa-icon icon="star" class="px-2" style="color: gold" size="1x"></fa-icon>{{rec.rating}}</div>
               </div>
               <div class="row">
                <p class="px-3">
                  {{rec.comment}}
                </p>
               </div>
            </div>
          </div>
      </div>
    </ng-template>