<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-dark bg-primary">

    <ul class="navbar-nav ml-auto">
      <button class="btn btn-outline-light justify-content-end" type="submit">Log Out</button>
    </ul>
  </nav>
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

  <!-- Page Content -->
  <div class="container">

    <div class=" text-center my-5">

      <div class="row-sm-5">
        <input type="text" class="form-control" placeholder="Search accomodation" id="usr">
        <button type="button" class="btn btn-primary">Search</button>
      </div>
      
    </div>

    

 

  <div class="row-my-2 text-center">
      <input type="date" class="my-0" ngbDatepicker (dateSelect)="onDateSelect($event)" />
      <input type="date" ngbDatepicker (dateSelect)="onDateSelect($event)" />
      <input type="text" placeholder="Number of persons" />
    </div>

    <div class="my-2">
        <form class="form-horizontal" role="form">
          
            
            <div class="form-group mx-auto">
                <label class="col-md-4 control-label">Type Accomodation</label>
                <div class="col-md-8">
                    <select class="form-control" placeholder="">
                        <option value="">All</option>
                        <option value="">Country 1</option>
                        <option value="">Country 2</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Category</label>
                <div class="col-md-8">
                    <select class="form-control" placeholder="Province">
                        <option value="">All</option>
                        <option value="">Province 1</option>
                        <option value="">Province 2</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Distance</label>
                <div class="col-md-8">
                    <input type="text"/>
                </div>
            </div>

            <div>
                <label class="col-md-3 checkbox-inline"><input type="checkbox" value=""> Parking</label>
                <label class="col-md-3 checkbox-inline"><input type="checkbox" value=""> WiFi</label>
                <label class="checkbox-inline"><input type="checkbox" value=""> Breakfast</label>
            </div>

            <div>
                <label class="col-md-3 checkbox-inline"><input type="checkbox" value=""> Half-Pension</label>
                <label class="col-md-3 checkbox-inline"><input type="checkbox" value=""> Pension</label>
                <label class="checkbox-inline"><input type="checkbox" value=""> All Inclusive</label>
            </div>

            <div>
                <label class="col-md-3 checkbox-inline"><input type="checkbox" value=""> Pet Friendly</label>
                <label class="col-md-3 checkbox-inline"><input type="checkbox" value=""> TV</label>
                <label class="checkbox-inline"><input type="checkbox" value="">Kitchen</label>
            </div>

            <div>
                <label class="col-md-3 checkbox-inline"><input type="checkbox" value=""> Private Bathroom</label>
                <label class="col-md-3 checkbox-inline"><input type="checkbox" value=""> Allowed cancellation</label>
                <input type="date" ngbDatepicker (dateSelect)="onDateSelect($event)" />
            </div>

            <div class="col-sm-offset-1 col-sm-1">
                <button type="submit" class="btn btn-primary ">Search</button>
            </div>
        </form>
    </div>

  </div>

</body>

</html>
